# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
build

# Cache
.cache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env*.local

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Others
.DS_Store
*.md
